.chatList{
    border-right: 1px solid rgb(149, 149, 149);
}

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 40%;
    cursor: pointer;
    margin-top: 10px;
}
.name{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    margin-top: 10px;
    letter-spacing: -0.165px;
    color: #232323;
}
.date{
    padding-right: 10px;
}
.profile{
    justify-content: center;
    padding: 10px;
    /* position: relative; */
}
.Menu2{
    display: none;
}
.Menu{
    position: absolute;
    display: flex;
    width: 22%;
    justify-content: end;
}
.menuT{
    text-align: start;
    padding-left: 20px !important;
    cursor: pointer;
}
.homeMenu{
    display: block;
}
.homeMenuHide{
    display: none;
}
.setting{
    display: block;
}
.settingHide{
    display: none;
}
.pointer{
    cursor: pointer;
}
.setting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.mSetting{
    display: flex;
    width: 70%;
    margin-top: 20px;
}
.nameSetting{   
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 100%;
    color: #7E98DF;
}
.edit{
    text-align: end;
    font-family: Rubik;
    font-style: normal;
    font-size: 17px;
    color: #7E98DF;
    cursor: pointer;
}
.settingH{
    width: 80%;
}
.account{
    text-align: start !important;
    margin-top: 40px;
    font-family: Rubik;
    font-style: normal;
    font-size: 19px;
    line-height: 23px;
    color: #232323;
}
.bio2{
    text-align: start !important;
    font-family: Rubik;
    font-style: normal;
    font-size: 19px;
    line-height: 23px;
    color: #232323;
    margin-top: 30px;
}
.sbw{
    margin-top: 80px; 
    text-align: start;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
.cardMenu{
    background-color: #7E98DF;
    width: 250px;
    height: 250px;
    border-radius: 35px;
    border-start-end-radius: 1px;
    padding: 20px;
    font-size: 16px;  
    color: white;  
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 20px !important;
}
.cari{
    background-color: #FAFAFA;
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    border: 1px solid black;
}
.cari input{
    border: none;
    list-style: none;
    outline: none;
}
.tt{
    cursor: pointer;
}
.tt2{
    cursor: pointer;
}
.roomChat{
    width: 100.7%;
    height: 100vh;
    padding: none;
}
.tcari{
 margin-right: 13px;
 cursor: pointer;
}
.tambahCari{
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.bungkusChats{
    height: 83.7%;
    width: 100%;
    overflow-y: auto;
    overflow-x:hidden;
}
.bungkusChats::-webkit-scrollbar {
  width: 3px;
}
 
.bungkusChats::-webkit-scrollbar-track {
  box-shadow: transparent
}
 
.bungkusChats::-webkit-scrollbar-thumb {
  background-color: transparent
}

.chats{  
    padding-right: 20px;
    padding-left: 20px;
}

.chatSender{
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
}
.isiChatsSender{
    border-start-end-radius: 10px !important;
    border-start-start-radius: 10px !important;
    border-end-start-radius: 10px !important;
    margin-top: 1%;
    width: auto;
    max-width: 700px;
    min-width: 50px;
    height: auto;
    min-height: 20px;
    background-color: #d1d0d0;
    padding-top: 10px;
    display: flex;
}
.pesan{
    margin: -10px;
    padding-bottom: 11px;
    margin-right: 12px;
    margin-left: 12px;   
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: #232323;
}
.pesan2{
    margin: -10px;
    padding-bottom: 11px;
    margin-right: 12px;
    margin-left: 12px;   
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 185.17%;
    letter-spacing: -0.165px;
    color: white;
    justify-content: center
}
.chatReceiver{
    text-align: start;
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.isiChatsReceiver{
    border-start-end-radius: 10px !important;
    border-end-end-radius: 10px !important;
    border-end-start-radius: 10px !important;
    margin-top: 1%;
    width: auto;
    max-width: 700px;
    min-width: 50px;
    height: auto;
    min-height: 20px;
    background-color: #2d3d68;
    padding-top: 10px;
    display: flex;
}
.date2{
    color: white;
    font-size: 15px;
    padding-top: 15px;
    padding-right: 10px;
}

.inputChats{
    height: 73px;
    width: 101.7%;
    background-color: #3d414e;
    margin-left: -10px;
}
.inputChats img{
    margin-left: 2%;
    cursor: pointer;
}
.profileChats{
    height: 70px;
    justify-content: space-between;
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
}
.formInput input{
    width: 80%;
    border-radius: 10px;
   margin-top: 20px;
    border: none;
    list-style: none;
    outline: none;
    height: 40px;
    padding-left: 30px;
}
.info{
    margin-right: 30px;
    margin-top: 20px;
    cursor: pointer;
    height: 20px !important;
}
.uss{
    margin-left: 10px;
    font-family: Rubik;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.165px;
}
.tts{
    display: flex;
    align-items: center;
}
.contactChat{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 440px;
}
.cardca{
    margin-top: 5px;
    overflow-y: scroll;
    height: 100vh;
    /* background-color: violet; */
}
.cardca::-webkit-scrollbar {
    width: 3px;
}
   
.cardca::-webkit-scrollbar-track {
box-shadow: transparent;
}

.cardca::-webkit-scrollbar-thumb {
background-color: transparent;
}
.cardContact{
    background-color: rgba(194, 192, 197, 0.383);
    border-radius: 20px;
    width: 90%;
    cursor: pointer;
    height: 70px!important;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.63);
}
.ppContact{
    width: 50px;
    height: 50px;
    border-radius:100%;
}
.jam{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.165px;   
    color: #848484;
}
.nameContact{
    margin-left: 10px;
    margin-top: -25px;
    font-family: Rubik;
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.165px;
}
.detailReceiver{
    background-color: #3d414eda;
    margin-right: -9px;
    height: 100%;
}

.detailReceiver2{
    display: none;
}
.profilePage{
    height: 100vh;
}
.profilePageHide{
    display: none;
}
.profileSender{
    display: flex;
}
.psp{
    width: 97%;
    justify-content: start;
    align-items: start;
}
.usernameP{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 26px;
    /* identical to box height */
    margin-top: 20px;
    letter-spacing: -0.165px;
    color: #232323;
}
.emailP{ 
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: -0.17px;
    color: #848484;
}

.ps{
    border-radius: 100%;
    margin-top: 30px;
    width: 270px;
    height: 270px;
}
.pusatHide{
    display: none;
}
.bio{
    margin-top: 10px;
    outline: none;
    height: 200px;
    width: 40% !important;
    margin-left: 30%;
}
.logout{
    background-color: red;
    margin-top: 30px;
    margin-left: 30%;
    border: none;
    border-radius: 20px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.ppR img{
    margin-top: 20px;
    height: 260px;
    width: 260px;
    border-radius: 100%;
}
.pp{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.usR{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 26px;
    /* identical to box height */
    margin-top: 20px;
    letter-spacing: -0.165px;
    color: #232323;
}
.emR{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: -0.17px;
    color: white

}
.editHide{
    display: none;
}

.edit{
    display: block;
}